@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@800&family=Oswald:wght@500&family=Overpass:wght@200;300&family=Pacifico&family=Poppins:wght@400;500&family=Roboto+Mono:wght@500&display=swap');
.btn-style{
    border: none;
    background-color: white;
    border-radius: 10px;
    width: 168px;
    height: 44px;
    color: #3F87F5;
    font-weight: bold;
    font-size: 16px;
}
.li-nav-item-style{
    margin-right: 26px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    color: #3E3E3E;
}

@media only screen and (max-width:688px) {
    .carousel-style{
        width: 360px;
        height: 586px;
    }
}